<div class="container">
    <br>
        <h3 style="color:rgb(9, 42, 102); font-family: Verdana, Geneva, Tahoma, sans-serif">Please enter the details below:</h3>
    <br>

    <div style=" border-radius: 20px; padding: 20px; width: 600px; box-shadow:5px 5px 5px 5px rgb(9, 42, 102);">

        <form #empForm = ngForm>

            <div class="form-group">
                    <label for="id">Account Id:</label>
                    <input type="number" class="form-control" id="id" aria-describedby="emailHelp" name = "id" [(ngModel)] = "model.id" #idControl="ngModel" required >
                    <small class="alert alert-danger" role="alert" id="idHelp" *ngIf ="idControl.touched && idControl.invalid">Id can't be empty</small>
                </div>

            <div class="form-group">
                    <label for="phone">Amount to be deposited:</label>
                    <input type="text" class="form-control" id="phone" name = "amount" [(ngModel)] = "model.amount" #phoneControl="ngModel" required >
                    <small class="alert alert-danger" role="alert" id="idHelp" *ngIf ="phoneControl.touched && phoneControl.invalid">Amount is required</small>
                </div>

            <button type="submit" class="btn btn-dark" [disabled] = "empForm.invalid" (click) = "deposit()">Submit</button>

        </form>

        <div *ngIf="deposited" class="alert alert-success" role="alert">
                Amount deposited successfully!
                <br>
                <button class="btn btn-success" (click) = "refresh()"> OK </button>
          </div>

        <div *ngIf="isError" class = "alert alert-danger" role="alert">
                Oops! that id does not exist
                <br>
                <button class="btn btn-secondary" (click) = "refresh()"> Try again </button>
            </div>

        <div *ngIf="isNegative" class = "alert alert-danger" role="alert">
                Amount is negative, can't process transaction
                <br>
                <button class="btn btn-secondary" (click) = "refresh()"> Try again </button>
            </div>



    </div>
    
</div>